/* 全局樣式 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* 頂部選單樣式 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1rem;
}

nav a:hover {
    color: #ff7e67;
}

#play-music {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}

#play-music:hover {
    color: #ff7e67;
    transform: scale(1.2);
}

#music-icon {
    pointer-events: none; /* 確保只有按鈕被點擊，不影響圖標 */
}


/* 主要成就區域 */
.achievements {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.album {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.album-info {
    flex: 1;
    padding-right: 20px;
}

.album-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.album-info p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.youtube-link {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.youtube-link:hover {
    text-decoration: underline;
}

.album img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.album:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
    .album {
        flex-direction: column;
        text-align: center;
    }

    .album img {
        width: 100%;
        margin-top: 15px;
    }

    .album-info {
        padding-right: 0;
    }
}
